$blue: #1761fd;
$indigo: #6610f2;
$purple: #6d81f5;
$pink: #FD397A;
$red: #f5325c;
$orange: #ff8500;
$yellow: #ffb822;
$green: #22b783;
$teal: #03d87f;
$cyan: #12a4ed;
$white: #fff;
$black: #000;
$gray: #808080;
$gray-dark: #595959;
$beanred: #FE6B8B;
$primary: #6690F4;
$secondary: #9ba7ca;
$success: #485BBD;
$info: #22B9FF;
$warning: #ffb822;
$danger: #f5325c;
$light: #f1f5fa;
$dark: #1d2c48;
$navy-blue: #20446f;
$beanred: #FE6B8B;
$sky: #22B9FF;
$turquoise: #00b393;
$silver: #e2e4e7;
$background-color: #EEF1F9;
$dark-background-color: #22252F;
$dropdown-hover-bg: #F8F9FA;
$dropdown-hover-bg-dark: #343747;
$sidebar-bg: #FFF;
$dark-bg: #2B2E3B;
$sidebar-bg-hovar: #F3F8FB;
$link-color: #a9baca;
$a-color: #29689e;
$a-hovar-light: #4466f2;
$nav-bg: #f2f4f6;
$dark-nav-bg: #2D313E;
$ins-color: #00b393;
$light-link-color: #4e5e6a;
$dark-link-color: #ccc;
$dark-scrollbar-color: #898989;
$dark-nav-link-color: #a6b0cf;
$dark-sidebar-link-color: #898fa9;
$dark-sidebar-active-link-color: #4466f2;
$dark-text-color: #9699a8;
$dark-card-border: #2f3541;
$gray-border: #6c757d;
$option-button-color: #a1a3a5;
$btn-default-hovar-bg: #E6E6E6;
$common-border: #f2f4f6;
$info-light: #bef5f6;